
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
<div class="panel panel-default" id="divAssignedCalls">
    <div class="panel-heading">
        Rectification List
        <a asp-controller="#" asp-action="#" class="btn btn-red btn-medium pull-right" style="padding: 2px 8px; margin-top: -2px;">Back</a>
    </div>
    <div class="panel-body">
        <div style="max-height: 300px; overflow: auto;">
            <div class="table-responsive">
                <table class="table table-default" id="tbl_RectificationList">
                    <thead>
                        <tr>
                            <td colspan="3"></td>
                            <td colspan="4" style="text-align: center;"><b>FD Details</b></td>
                            <td colspan="4" style="text-align: center;"><b>Payment Details</b></td>
                        </tr>
                        <tr>
                            <th>
                                <input type="checkbox" id="chkSelectAllCalls" class="SearchAll" />
                            </th>
                            <th>App No.</th>
                            <th>Cust Name.</th>
                            <th>FD Amt</th>
                            <th>Trans ID</th>
                            <th>Trans Date</th>
                            <th>Status</th>
                            <th>Trans Amt</th>
                            <th>Trans ID</th>
                            <th>Trans Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="tbody_RectificationList">
                        <tr>
                            <td colspan="8" style="text-align: left;">No Details Found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="panel-body hidden" id="div_Rectify">
                <div class="row">
                    <div class="col-sm-3" style="word-wrap: break-word;">
                        <span class="pull-right text-primary" style="padding-right: 2px; font-size: 11px; text-align: right;">Max: <span id="lblCountCharTextarea_1" class="lblCounter">500</span></span>
                        <div>
                            <textarea class="form-control" id="txt_remarks" cols="5" rows="3" placeholder="Remarks" tabindex="1" style="resize: none;" maxlength="500" onkeyup="Javascript:CharactersCount(this.id,lblCountCharTextarea_1);"></textarea>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-1">
                        <input type="button" id="btn_rectify" value="Rectify" class="btn btn-red" />
                    </div>
                    <div class="col-sm-1 row">
                        <input type="button" id="btn_cancel" value="Cancel" class="btn btn-red" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.dataTables.min.js"></script>
<script src="~/AppJs/RectificationRequestList.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(document).ready(function myfunction() {

        $('#tbl_RectificationList').DataTable({
            "order": [[2, "asc"]],
            initComplete: function () {

            }
        });
    })
</script>

